html{
    
    background-image: url(../assets/Images/prism.png);
}
body{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    
}   
p, label {
    color: #9bc4e2;
}
#email{
    border: 2px solid white;
}